body {
    background: url('https://images.pexels.com/photos/933149/pexels-photo-933149.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  img{
    margin-left: 10%;
    margin-top:17%;
  }
  .img-responsive {
    display: block;
    max-width:30%;
    height: auto;
}
.media-object{
  width:30%;
}
.media-heading{
  font-weight:bold;
  font-size:50px;
}
.collapse>ul{
    color:white;
    font-size: 25px;
    padding: 10px 50px;
    padding-right:50px;
}
.nav-link{
  display: block;
    color:white;
    text-align: center;
    padding :10px 30px;
    text-decoration: none;
}
.navbar-brand{
  font-size: 30px;
}
